@import "tiny";


.demo-group {
	margin: 10px;
	border: 1px dashed #CCC;
	.info,
	.code,
	.view {
		margin: 10px;
		padding-bottom: 10px;
		border-bottom: 1px dashed #CCC;
	}
	.info {// 分组描述
	}
	.code {//代码
		font-size: 13px;
	}
	.view {// 行
		&:last-child {
			border-bottom: none;
		}
	}
}

.tn-btn-group {

    &.fsd {
    	>.tn-btn {
        	@include make-font-size-default($font-size-important);
    	}
    }

    &.fss {
    	>.tn-btn {
	        @include make-font-size-sm($font-size-important);
	    }
    }

    &.fsl {
    	>.tn-btn {
        	@include make-font-size-lg($font-size-important);
        }
    }

}