$input-on: false !default;

$input-border-radius: 0 !default; // .2em !default;
$input-border-width: .1em !default; // .1em !default;

$input-default-text-color: #000 !default;
$input-default-bg-color: #FFF !default;
$input-default-bd-color: #C6C6C6 !default;

@if $input-on {
/*---@INPUT---*/
	.tn-input {
		@include make-input-default;
		@include make-size-default;
		@include make-border-width-radius($input-border-width, $input-border-radius);
		@include make-input-variant($input-default-text-color, $input-default-bg-color, $input-default-bd-color);
		@include make-form-element-disabled;

		&.addin {
			padding: 0 !important;
		    display: inline-flex;
			>.tn-input,
			>.tn-btn {
				border-width:0 !important;
				@include when-form-element-disabled {
					@include opacity(1);
				};
			}
		}
	}
/*---!INPUT---*/
}