$basic-on : false !default;

$basic-export-text-align: false !default;
$basic-text-align-important: false !default;

$basic-export-float: false !default;
$basic-float-important: false !default;

@if $basic-on {
/*---@BASIC---*/
	
	// float
	@if $basic-export-float {
		@include export-float($basic-float-important);
	}

	//text
	@if $basic-export-text-align {
		@include export-text-align($basic-text-align-important);
	}

	.clearfix {
		@include clearfix;
	}
	
	// 方形
	.tn-square {
		@include make-square-default;
	}

	.fss,
	.tn-group.ss,
	.tn-group.sd,
	.tn-group.sl,
	.tn-group-line.ss,
	.tn-group-line.sd,
	.tn-group-line.sl,
	{
		.tn-square {
			@include make-square-sm;
		}
	}
	
	.fsl,
	.tn-group.ls,
	.tn-group.ld,
	.tn-group.ll,	
	.tn-group-line.ls,
	.tn-group-line.ld,
	.tn-group-line.ll,
	{
		.tn-square {
			@include make-square-lg;
		}
	}

/*---@BASIC---*/
}
