$basic-on : false !default;

$basic-export-text-align: false !default;
$basic-text-align-important: false !default;

$basic-export-float: false !default;
$basic-float-important: false !default;

@if $basic-on {
/*---@BASIC---*/
	
	// float
	@if $basic-export-float {
		@include export-float($basic-float-important);
	}

	//text
	@if $basic-export-text-align {
		@include export-text-align($basic-text-align-important);
	}

	.clearfix {
		@include clearfix;
	}
	
	// 方形
	.tn-square {
		@include make-square-default;
	}

	.fss,
	.tn-group-col.ss,
	.tn-group-col.sd,
	.tn-group-col.sl,
	.tn-group-row.ss,
	.tn-group-row.sd,
	.tn-group-row.sl,
	{
		.tn-square {
			@include make-square-sm;
		}
	}
	
	.fsl,
	.tn-group-col.ls,
	.tn-group-col.ld,
	.tn-group-col.ll,	
	.tn-group-row.ls,
	.tn-group-row.ld,
	.tn-group-row.ll,
	{
		.tn-square {
			@include make-square-lg;
		}
	}

/*---@BASIC---*/
}
