$button-on: false !default;

$button-border-radius : 0 !default; // .2em !default;
$button-border-width  : .1em !default; // .1em !default;

$button-default-text-color 	:  #333 	!default;
$button-default-bg-color 	:  #E6E6E6 	!default;
$button-default-bd-color 	:  #BDBDBD 	!default;

@if $button-on {
/*---@BUTTON---*/
    .tn-btn {
        @include make-button-default;
        @include make-form-element-disabled;
        @include make-size-default;
        @include make-border-width-radius($button-border-width, $button-border-radius);
        @include make-button-variant($button-default-text-color, $button-default-bg-color, $button-default-bg-color);
    }
//效果
    .tn-btn-tick {
        &:not([disabled]) {
            @include make-button-tick;
        }
    }

    .tn-btn-scale {
        &:not([disabled]) {
            @include make-button-scale;
        }
    }

    .tn-btn-shadow {
        &:not([disabled]) {
            @include make-button-inner-shadow;
        }
    }
    
//分组
    @include group-append-selector('&>.tn-btn');

    .group.inline {
        >.tbtn {
            @include border-right-radius(0);
            ~.tbtn {
                border-left-width: 0;
                @include border-left-radius(0);
            }
        }
    }
    
/*---@BUTTON---*/
}